/* Fix Danya v.2 */

@font-face {
  font-family: 'default';
  src: url(/src/assets/fonts/Roboto-Regular.ttf);
}
/* глобальные */
body{
  width: 100%;
  margin: 0 auto;
  background-color: rgb(175, 175, 175);
  /* не когда цвет не указывай названием, black - green - red.
  у каждого браузера свои значения для этих цветов!!!! */
  color: #fff;
  font-family: 'default';
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-fluid{
  position: relative;
  width: 100%;
  height: 100vh;
}
/* /глобальные */
.start-page{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  transition: all 450ms ease-in;
}
.start-page.disable{
  opacity: 0;
  transition: all 450ms ease-in;
}
.start-page--img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
/* кнопки */
.btn-block{
  position: fixed;
  width: 200px;
  top: calc(50% - 93px);
  left: 24px;
  display: flex;
  flex-direction: column;
  z-index: 110;
}
.btn{
  background-color: #4CAF50;
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  margin-bottom: 12px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transform: scale(1);
  transition: all 150ms ease-in;
}
.btn:hover{
  transform: scale(1.1) !important ;
  transition: all 150ms ease-in !important ;
}
/* /кнопки */
/* выпадющее меню */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position:fixed;
  display: inline-block;
  bottom: 50%;
  top: 50%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: rgba(151, 231, 140, 0.7); */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-top: 6px;
  z-index: 1;
  border-radius: 12px;
  overflow: hidden;
}

.dropdown-content button {
  width: 90%;
  box-sizing: border-box;
  background: #666; 
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;
  color: #000;
  display: block;
  margin: 0 auto;
  margin-bottom: 6px;
  border-radius: 12px;
  overflow: hidden;
}
.dropdown-content button:hover{
  border: 1px solid #fff;
}
/* /выпадющее меню */

/* Контент */
.orange{
  color: rgb(255, 136, 0);
}

.blue{
 color: rgb(0, 149, 235);
}

.green{
  color: green
}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.image{
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.homework{
  margin-top: 10%;
  font-size: 20px;
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 5%;
}

.codeHead{
  margin-top: 5%;
  margin-left: 5%;
  font-size: 20px;
  border-bottom: #000 solid 2px
}

.codeBlock {
  max-height: 100vh;
  min-height: 0%;
  margin-top: 10%;
  background: #1e1f1e;
  font-size: 20px;
  color:rgb(184, 184, 184);
  padding-top: 5%;
  padding-left: 10%;
  padding-bottom: 5%;
  overflow-y: scroll;
}

.codeBlock::-webkit-scrollbar-track {border-radius: 4px;}
.codeBlock::-webkit-scrollbar {width: 6px;}
.codeBlock::-webkit-scrollbar-thumb {border-radius: 4px;background: #f0f2f5;}
.codeBlock::-webkit-scrollbar-thumb {background:#3e8e41;}

.column {
  float: left;
  width: 50%;
}

.radius {
  background: black;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* /Контент */
li{
  display: inline-block;
  margin-right: -4px;
}

.radius{
  border-radius: 60px;
  padding: 30px;
  border: 3px solid rgb(199, 199, 199);
}
ul {
  
  list-style: none; 
  margin: 0; 
  padding-left: 0;
}
/* /Fix Danya v.2 */